env/

**/dist
**/node_modules

__pycache__/

.vscode/

data/data/

**/*.ipynb

# rlenv ignores
rlenv/protos/** 
rlenv/ex

# server ignores
service/protos/**

# replays ignores
replays/data/**

# ml ignores
ml/wandb/

wandb/

ckpts/

# heuristics ignores
heuristics/**/*.json