env/

**/dist
**/node_modules

__pycache__/

.vscode/

data/data/

**/*.ipynb

# rlenv ignores
rlenv/ex

# server ignores

# replays ignores
replays/data/**

# ml ignores
ml/wandb/

**/*.env
wandb/

ckpts/

# heuristics ignores
heuristics/**/*.json

# replays ignores
replays/**/*.ckpt

# viz ignores
viz/*.json