absl-py==2.4.0
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
asttokens==3.0.1
attrs==26.1.0
autoflake==2.3.3
backcall==0.2.0
beautifulsoup4==4.14.3
black==26.1.0
bleach==6.3.0
certifi==2026.2.25
charset-normalizer==3.4.4
chex==0.1.90
click==8.3.1
cloudpickle==3.1.2
comm==0.2.3
contourpy==1.3.2
cycler==0.12.1
dataclasses-json==0.6.7
debugpy==1.8.20
decorator==5.2.1
defusedxml==0.7.1
docopt==0.6.2
dotenv==0.9.9
etils==1.13.0
executing==2.2.1
fastapi==0.135.1
fastjsonschema==2.21.2
fix-protobuf-imports==0.1.7
flax==0.12.4
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2026.2.0
gitdb==4.0.12
GitPython==3.1.46
googleapis-common-protos==1.73.0
grpcio==1.78.0
grpcio-tools==1.78.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
humanize==4.15.0
idna==3.11
importlib_metadata==8.7.1
importlib_resources==6.5.2
ipykernel==7.2.0
ipython==8.12.3
ipython_pygments_lexers==1.1.1
isort==8.0.1
jax==0.9.1
jax-cuda13-pjrt==0.9.1
jax-cuda13-plugin==0.9.1
jaxlib==0.9.1
jaxtyping==0.3.9
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyterlab_pygments==0.3.0
kiwisolver==1.4.9
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
mistune==3.2.0
ml_collections==1.1.0
ml_dtypes==0.5.4
msgpack==1.1.2
multidict==6.7.1
mypy_extensions==1.1.0
nbclient==0.10.4
nbconvert==7.17.0
nbformat==5.10.4
nest-asyncio==1.6.0
numpy==2.3.5
nvidia-cublas==13.2.1.1
nvidia-cuda-cccl==13.1.115
nvidia-cuda-crt==13.1.115
nvidia-cuda-cupti==13.1.115
nvidia-cuda-nvcc==13.1.115
nvidia-cuda-nvrtc==13.1.115
nvidia-cuda-runtime==13.1.80
nvidia-cudnn-cu13==9.19.1.2
nvidia-cufft==12.1.0.78
nvidia-cusolver==12.0.9.81
nvidia-cusparse==12.7.3.1
nvidia-nccl-cu13==2.29.3
nvidia-nvjitlink==13.1.115
nvidia-nvshmem-cu13==3.5.21
nvidia-nvvm==13.1.115
opentelemetry-api==1.40.0
opentelemetry-sdk==1.40.0
opentelemetry-semantic-conventions==0.61b0
opt_einsum==3.4.0
optax==0.2.6
orbax-checkpoint==0.11.33
orbax-export==0.0.8
packaging==25.0
pandas==3.0.1
pandocfilters==1.5.1
parso==0.8.6
pathspec==1.0.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==12.1.1
pipreqs==0.5.0
platformdirs==4.9.2
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.5
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pydantic==2.12.5
pydantic_core==2.41.5
pyflakes==3.4.0
Pygments==2.19.2
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytokens==0.4.1
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
requests==2.32.5
rich==14.3.3
rpds-py==0.30.0
scikit-learn==1.8.0
scipy==1.17.1
sentry-sdk==2.54.0
simplejson==3.20.2
six==1.17.0
smmap==5.0.2
soupsieve==2.8.3
stack-data==0.6.3
starlette==0.52.1
tensorstore==0.1.81
threadpoolctl==3.6.0
tinycss2==1.4.0
toolz==1.1.0
tornado==6.5.4
tqdm==4.67.3
traitlets==5.14.3
treescope==0.1.10
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.41.0
uvloop==0.22.1
wadler_lindig==0.1.7
wandb==0.25.0
wcwidth==0.6.0
webencodings==0.5.1
websockets==16.0
xai-sdk==1.10.0
yarg==0.1.9
yarl==1.23.0
zipp==3.23.0
